*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#container{
    width:100%;

}
.header{
    background-color:#0e1a1f;
    width:100%;
    height:100px;  
    padding:30px;
    display: flex;
    position: fixed;
    z-index:2;
}
.logo{
    display:flex;
}
.logo h3{
    color:#278f82;
    margin-left:10px;
    padding-top: 10px;
}
#logodiv{
    width:50px;
    height:50px;
   
}
#logodiv img{
    width:100%;
}
#navlogo{
    display:flex;
    width:900px;
}

ul li{
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: large;
    padding-left:40px;
    padding-top:10px;
    color:white;
 
}
ul li:hover{
    color:#278f82;
}
li span{
    margin-left: 10px;
    color:#278f82;
}
#child_link{
    position: absolute;
    top:80px;
    background-color:white;
    border-radius:5px;
    display:none;
   
}
#child_link li{
    display:block;
    padding:10px;
    color:rgb(218, 214, 214)
}
#child_link li:hover{
    color:black;
}
#bars{
    display:none;
}
#buttons{
   
    /* border: 1px solid white; */
    position:absolute;
    right:20px;
    top:20px;
}
#btn1{
    padding:15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    background-color:#278f82;
    color:white;
    width:120px;
    border:none;
    margin-right:10px;

}
#btn1:hover{
    background-color:#18524b;
}
#btn2{
   
    padding:15px;
    border-radius: 5px;
    font-size: larger;
    color:black;
    width:120px;
    border:none;
}

#jumbo{
    width:100%;
    height:750px;
    background-color:#0e1a1f;
    display: flex;
   
}
#first_text{
    width:40%;
   position:absolute;
   top:300px;
   left:130px;
   color:white;
   right:50px;
}
#first_text h1{
    font-size:40px;
    margin-bottom: 10px;
}
#first_text p{
    font-weight: 300;
    margin-bottom: 20px;
}
#cta{
    padding:15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    background-color:#278f82;
    color:white;
    width:200px;
    border:none;
    margin-right:10px;

}
#laptop{
    width:50vw;
    position:absolute;
    right:100px;
    top:200px;
    display: block;
   
}


#laptop img{
   
    width:100%
    
    
}
#sectiontwo{
    padding-left:5vw;
    padding-top:5vw;
    display:flex;
}
#sectiontwo_text h1{
    font-size:30px;
    color:#363636;
}
#sectiontwo_text p{
    font-size:smaller;
    color:#363636;
    line-height: 30px;
}
#sectiontwo_text{
    margin-right:20px;
 
}
#sectiontwo_img{   
   width:400px;
    height:400px;

}
#sectiontwo_img img{
    width:100%;

}
#sectiontwo_lower{
    display:flex;
    padding-left:5vw;
    padding-top:5vw;
   
    
}
#sectiontwo_lower_image{
    width:600px;
    height:400px;
    margin-right: 30px;

}
#sectiontwo_lower_image img{
    width:100%;
}
#sectiontwo_lower_text h1{
    font-size:30px;
    color:#363636;
}
#sectiontwo_lower_text p{
    font-size:smaller;
    color:#363636;
    line-height:30px;
}
#about{
    padding-left:5vw;
    padding-top:7vw;
    width: 100%;
    background-color:#0e1a1f;
    height:200px;
   display:flex;
   color:white;
   height:250px;
}
#about h1{
    font-size:30px;
    color:white;
    margin-right: 50px;
    padding-top: 20px;
}
#about p{

    font-size:smaller;
    color: white;
    line-height: 30px;
    font-weight: 300;
   
}
#contact{
    padding-left:5vw;
    padding-top:5vw;
    width:100%;
    display:flex;
    padding-bottom: 5vw;
    
}
input{
   display:block;
   width:50vw;
   padding:10px;
   margin-top: 10px;
}
textarea{
    display:block;
    width:50vw;
    margin-top: 10px;
}
label{
    font-weight:bolder;
    color:#363636; 
}
#contact_form{
  
    margin-right:10px;
}
#contact_text{
    width:40vw;
   text-align: right;
   padding-top:8vw;
}
#contact_text h1{
    font-size:30px;
    color:#363636; 

}
#contact_text p{
    font-size:bold;
    font-weight: 300;
    color:#363636; 

}
#footer{
    width:100%;
    height:120px;
    background-color:#0e1a1f;
    display:flex;
    padding-left:5vw;
    padding-top:5vw;
}
#footer p{
    color:#12a191;
    margin-right: 50vw;
}
#footer h1{
    color:white;
    font-size:20px;
  
   
}











/* =============================== MEDIA QUERIES=========================== */
/* =============================== MEDIA QUERIES=========================== */
/* =============================== MEDIA QUERIES=========================== */
@media (max-width:1350px){
 
#buttons{
    display:block;
    position:absolute;
    left:47px;
    top:450px;
 
}
#btn1{
    padding:5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: small;
    background-color:#278f82;
    color:white;
    width:120px;
    border:none;
    margin-right:10px;

}
#btn1:hover{
    background-color:#18524b;
}
#btn2{
   
    padding:5px;
    border-radius: 5px;
    font-size:small;
    color:black;
    width:120px;
    border:none;
}
#bars{
    display:block;
    position:absolute;
    right:20px;
    padding:20px;
    top:25px;
}
#bars i{
    color:white;
    font-size:larger;
 
    
}

#bars:hover{
    background-color:#060c0e;
    opacity:0.5;
    
}

ul{
   
     margin-top:20px;
    width:94vw; 
    background-color:#1f3944;
    height:400px;
    display:none;
    z-index:2;


}
ul li{
   
    display:block;
    font-weight: 200;
    font-size: small;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    width:94vw; 
   
 
}
.showul{
    display:block;
}
#navlogo{
   
    display:block;
    width:900px;
}
#child_link{
   
   position: absolute;
    top:150px;
    background-color:transparent;
    border-radius:5px;
    display:block;
    width:50vw;
   
}
#link{
   padding-bottom:80px;
}
#child_link li{
    display:block;
    padding:10px;
    color:rgb(218, 214, 214)
}
#child_link li:first-child{
    padding-top:20px;
}
#child_link li:hover{
    color:#5b7e8d;

}

}

@media(max-width:800px){
    #laptop {
        display:none;
        
        
    }
    #first_text{
       text-align:center;
        width:70%;
       position:absolute;
       top:300px;
       left:20vw;
       color:white;
       right:130px;
    }
    #sectiontwo{
        padding-left:5vw;
        padding-top:5vw;
        display:block;
    }
    #sectiontwo_img{   
        width:300px;
         height:300px;
     
     }
     #sectiontwo_lower{
        display:block;
        padding-left:5vw;
        padding-top:5vw;
    }
    #sectiontwo_lower_image{
        width:300px;
        height:150px;
        margin-right: 30px;
    
    }
    #about{
        display:block;
        padding-top:0vw;
        height:300px;
    }
    #about p{

        font-size:smaller;
        color: white;
        line-height: 20px;
        font-weight: 300;
       
    }
    #contact{
        padding-left:5vw;
        padding-top:5vw;
        width:100%;
        display:block;
        
    }
    #contact_text{
      
        width: 100%;
       text-align: right;
       padding-top:8vw;
       padding-right: 20px;
    }
    input{
       
        width:80vw;
        
     }
     textarea{
       
         width:80vw;
        
     }
     #footer{
        width:100%;
        height:120px;
        background-color:#0e1a1f;
        display:block;
        padding-left:5vw;
        padding-top:5vw;
    }
    #footer p{
        width:90vw;
        font-size: smaller;
        margin-bottom: 20px;
    }
    #footer h1{
        text-align: right;
        padding-right: 20px;

    }
}


